/** PALETA DE COLORES */
/* https://colorhunt.co/palette/149559 */


/********** VARIABLES **********/
:root {
    --bg-primario: #313131;
    --bg-secundario: #ca3e47;
    --bg-alternativo: #ff5200;
    --bg-fondo: #f4eeff;}

/********** NORMALIZE **********/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

/********** TITULOS **********/

.titulo {
    text-align: center;
    font-size:1.8em;
}

.subtitulo {
    text-align: center;
    font-size:1.5em;
    margin: 0.4em 0;

}

.sumario  {
    font-size:1em;
    font-weight: bold;
}

.py-4 {
   padding-top: 0 !important;
}


.sesion{
    font-size:1em;
}

/********** PIE DE LA PAGINA **********/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_fondo{
    background-color: var(--bg-primario);
    color: #fff;
    margin-bottom: 0;
    padding: 0;
}

.texto_pie{
    margin: 0;
}

.fondo{
    width:100%
}

img{
    width: 100%;
}

/********** ICONOS FONT AWESOME **********/

.icono{
    color: black  ;
    font-size:1.2em
}

.iconoBoton{
    color: white  ;
    font-size:1.2em
}



/********** GRILLA **********/
.header {
    text-align: center;
    font-size: 1.1em;
    background-color: #dddddd;
    font-weight: bold;
}

.item {
    text-align: center;
    font-size: 1em;
}

.crud {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

/********** SOBRE-ESCRIBIENDO ESTILOS **********/

/********** LINK  **********/
a span:visited {
    color: #162447 !important;
}

a span:active {
    color: #1f4068 !important;
}

a span {
    color: #1b1b2f !important;
}

/********** ITEMS MENU **********/

.dropdown-menu{
    background-color: var(--bg-secundario);
}

.dropdown-item{
    color: #fff;
    font-size: 1em;
}

.dropdown-item:hover{
    color: #000;
    font-size: 1em;
}

.dropdown-item:active{
    color: #000;
    background-color: #ddd;
    font-size: 1em;
}

/********** TABLAS **********/
.table td,tr {
    text-align: center;
}
/********** BOTONES **********/

.btn-custom{
    background-color: var(--bg-secundario);
    color:#fff;
    border-color:#000;
    font-size: 1em;
}

.btn-custom:hover{
    color:#fff;
    background-color:var(--bg-alternativo);
    font-size: 1em;
}

fieldset{
    border: 1px solid black;
    padding: 15px 15px;

}

.form-control{
    font-size: 1em ;
}

option{
    font-size: 1em;
}

.btn-light{
    background-color:#f4ebc1;

}

.fila-entrada{
    background-color:#C0C0DC;

}

/********** PANTALLAS DE ESCRITORIO GRANDES  **********/
@media (min-width:1200px) {

    body {
        font-size: 16px;
    }

    img{
        width: 40%;
    }

}


/********** Tablets en horizonal y escritorios normales **********/
@media (min-width:768px) and (max-width:1199px) {
    body {
        font-size: 14px;
    }

    titulo {
        text-align: center;
        font-size:1em;
    }

    .subtitulo {
        font-size:1.2em;
    }

    img{
        width: 60%;
    }

    .icono{
        font-size:1em
    }

    .iconoBoton{
        font-size:1em;
    }

    .sesion{
        font-size:1em;
    }

    /********** ITEMS MENU **********/

    .dropdown-item{
        font-size: 0.8em;
    }

    .dropdown-item:hover{
        font-size: 0.8em;
    }

    .dropdown-item:active{
        font-size: 0.8em;
    }

}


/********** Móviles en horizontal o tablets en vertical **********/

@media (min-width:481px) and (max-width:767px) {
    body {
        font-size: 12px;
    }

    .titulo {
        font-size:1.2em;
    }

    .subtitulo {
        font-size:1.2em;
    }

    img{
        width: 60%;
    }

    .icono{
        font-size:1em
    }

    .iconoBoton{
        font-size:1em;
    }

    .sesion{
        font-size:0.8em;
    }

    /********** ITEMS MENU **********/

    .dropdown-item{
        font-size: 0.8em;
    }

    .dropdown-item:hover{
        font-size: 0.8em;
    }

    .dropdown-item:active{
        font-size: 0.8em;
    }
}


/********** Móviles en vertical **********/

@media (max-width:480px) {
    body {
        font-size: 12px;
    }

    .titulo {
        font-size:1.2em;
    }

    .subtitulo {
        font-size:1.2em;
    }

    img{
        width: 100%;
    }

    .icono{
        font-size:1em
    }

    .iconoBoton{
        font-size:1em;
    }

    .sesion{
        font-size:0.8em;
    }

    /********** ITEMS MENU **********/

    .dropdown-item{
        font-size: 0.8em;
    }

    .dropdown-item:hover{
        font-size: 0.8em;
    }

    .dropdown-item:active{
        font-size: 0.8em;
    }
}

